.galleryButtonText {
  flex: 1;
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: 600;
  font-family: var(--font-jakarta);
  color: inherit;
  text-align: left;
}

.galleryButton {
  cursor: pointer;
  border: 0;
  padding: var(--padd-15);
  color: var(--color-brown);
  background-color: var(--color-red-5);
  border-radius: var(--br-12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.galleryButton:hover,
.galleryButton.active {
  color: var(--color-white);
  background-color: var(--color-red);
}

.productsButtonText {
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: inherit;
  font-family: var(--font-noto);
  color: inherit;
  text-align: left;
}

.productsButton {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: var(--padd-0x15);
  color: var(--color-white);
  font-weight: 600;
  background-color: transparent;
  border-radius: var(--br-12);
  box-sizing: border-box;
  height: var(--pixel-40);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.productsButton:hover {
  background-color: var(--color-white-10);
}

.lgButtonHollowText {
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: 600;
  font-family: var(--font-noto);
  color: inherit;
  text-align: left;
}

.arrowIcon {
  width: var(--pixel-18);
  position: relative;
  height: auto;
}

.lgButtonHollow {
  cursor: pointer;
  border: 1px solid var(--color-red);
  padding: var(--padd-0x20);
  color: var(--color-red);
  background-color: transparent;
  border-radius: var(--br-12);
  box-sizing: border-box;
  height: var(--pixel-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 var(--pixel-15);
  transition: all 0.3s ease-in-out;
}

.lgButtonHollow:hover {
  color: var(--color-white);
  background-color: var(--color-red);
}

.lgButtonText {
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: 600;
  font-family: var(--font-noto);
  color: inherit;
  text-align: left;
}

.lgButton {
  cursor: pointer;
  border: 1px solid var(--color-red);
  padding: var(--padd-0x20);
  color: var(--color-white);
  background-color: var(--color-red);
  border-radius: var(--br-12);
  height: var(--pixel-50);
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}

.lgButton:hover {
  color: var(--color-white);
  border: 1px solid var(--color-yellow);
  background-color: var(--color-yellow);
}

.lgButton,
.smButton,
.smButtonWhite {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.smButton {
  cursor: pointer;
  border: 1px solid var(--color-red);
  padding: var(--padd-0x15);
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-red);
  border-radius: var(--br-12);
  height: var(--pixel-40);
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}

.smButtonWhite {
  cursor: pointer;
  border: 1px solid var(--color-darkred);
  padding: var(--padd-0x15);
  color: var(--color-white);
  font-weight: 600;
  background-color: var(--color-darkred);
  border-radius: var(--br-12);
  height: var(--pixel-40);
  flex-direction: row;
  transition: all 0.3s ease-in-out;
}

.smButtonWhite:hover,
.smButton:hover {
  border: 1px solid var(--color-yellow);
  color: var(--color-white);
  background-color: var(--color-yellow);
}

.floatingWaBtn {
  position: fixed;
  bottom: var(--pixel-30);
  right: var(--pixel-30);
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  width: var(--pixel-50);
  height: var(--pixel-50);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.6);
}
