.productCardDesc,
.productCardTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.productCardDesc {
  font-size: var(--font-small);
  font-weight: 600;
  font-family: var(--font-noto);
}

.productCardHeading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--pixel-15) 0;
  min-width: var(--pixel-300);
}

.productCardImage {
  height: var(--pixel-250);
  overflow: hidden;
  flex-shrink: 0;
}

@media (min-width: 834px) {
  .productCardImage {
    border-radius: 20px 0 0 20px;
    width: var(--pixel-350);
  }

  .productCardImage1 {
    border-radius: 0 20px 20px 0;
    width: var(--pixel-350);
  }

  .productCardHeading {
    padding: 0 var(--pixel-30);
  }

  .productCard {
    padding: var(--pixel-30) 0;
  }
}

@media (max-width: 833px) {
  .productCardImage,
  .productCardImage1 {
    border-radius: var(--br-20);
    width: 100%;
  }

  .productCard {
    padding: var(--pixel-30);
  }
}

.productCard {
  align-self: stretch;
  border-radius: var(--br-20);
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-25);
  text-align: left;
  font-size: var(--font-large);
  color: var(--color-white);
  font-family: var(--font-jakarta);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.productCard:hover {
  background-color: var(--color-yellow);
}

.productCardImage1 {
  height: var(--pixel-250);
  overflow: hidden;
  flex-shrink: 0;
}
