.factoryCardImage {
  flex: 1;
  border-radius: var(--br-20);
  height: var(--pixel-232);
  overflow: hidden;
  min-width: var(--pixel-300);
}

.factoryCardDesc,
.factoryCardTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.factoryCardTitle {
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.factoryCardDesc {
  font-weight: 600;
  color: var(--color-darkbrown-80);
  transition: all 0.3s ease-in-out;
}

.factoryCardHeading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-15) 0;
  min-width: var(--pixel-300);
}

.factoryCard {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  border-radius: var(--br-50);
  background-color: var(--color-red-5);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padd-30);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-small);
  color: var(--color-red);
  font-family: var(--font-noto);
  cursor: pointer;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.factoryCard:hover {
  transform: translateY(-10px);
  background-color: var(--color-red);
  color: var(--color-white);
}

.factoryCard:hover .factoryCardDesc {
  color: var(--color-white);
}
