@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Font Family */
  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans";
  --font-sand: "Quicksand", sans-serif;
  --font-lato: "Lato", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
  /* Color */
  --color-foreground: #fffef6;
  --color-white: #fff;
  --color-white-90: rgba(255, 255, 255, 0.9);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-red: #cf2e2e;
  --color-red-50: rgba(207, 46, 46, 0.5);
  --color-red-5: rgba(207, 46, 46, 0.05);
  --color-yellow: #eaa326;
  --color-brown: #533236;
  --color-brown-80: rgba(83, 50, 54, 0.9);
  --color-brown-50: rgba(83, 50, 54, 0.5);
  --color-darkbrown: #130000;
  --color-darkbrown-80: rgba(19, 0, 0, 0.8);
  --color-green: #18c964;
  --color-darkred: #841818;
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-black-70: rgba(0, 0, 0, 0.7);
  --color-black-50: rgba(0, 0, 0, 0.5);
  /* @ibrahimstudio/button config */
  --color-button: #cf2e2e;
  --color-button-text: #fff;
  --font-button: "Noto Sans", sans-serif;
  /* Font Size */
  --font-xsmall: 16px;
  --font-small: 18px;
  --font-medium: 25px;
  --font-large: 35px;
  --font-xlarge: 50px;
  /* Paddings */
  --padd-50: 50px;
  --padd-0x50: 0 50px;
  --padd-0x15: 0 15px;
  --padd-30x200: 30px 200px;
  --padd-30: 30px;
  --padd-50x150: 50px 150px;
  --padd-0x100: 0 100px;
  --padd-5: 5px;
  --padd-10: 10px;
  --padd-25: 25px;
  --padd-0x20: 0 20px;
  --padd-20: 20px;
  --padd-30x0: 30px 0;
  --padd-0x30: 0 30px;
  --padd-15: 15px;
  --padd-hero: 120px 50px 50px 50px;
  /* Border Radius */
  --br-12: 12px;
  --br-20: 20px;
  --br-50: 50px;
  --br-20x0x0x20: 20px 0 0 20px;
  --br-20x0x0x20: 0 20px 20px 0;
  /* Misc */
  --pixel-5: 5px;
  --pixel-30: 30px;
  --pixel-10: 10px;
  --pixel-15: 15px;
  --pixel-100: 100px;
  --pixel-50: 50px;
  --pixel-20: 20px;
  --pixel-25: 25px;
  --pixel-300: 300px;
  --pixel-320: 320px;
  --pixel-250: 250px;
  --pixel-232: 232px;
  --pixel-366: 366px;
  --pixel-48: 48px;
  --pixel-145: 145px;
  --pixel-40: 40px;
  --pixel-70: 70px;
  --pixel-18: 18px;
  --pixel-210: 210px;
  --pixel-36: 36px;
  --pixel-350: 350px;
  --pixel-200: 200px;
  --pixel-450: 450px;
  --pixel-125: 125px;
  --pixel-72: 72px;
  --pixel-95: 95px;
}

@media (min-width: 701px) and (max-width: 1120px) {
  :root {
    /* Font Size */
    --font-xsmall: 14px;
    --font-small: 15px;
    --font-medium: 21px;
    --font-large: 30px;
    --font-xlarge: 43px;
    /* Paddings */
    --padd-50: 43px;
    --padd-0x50: 0 43px;
    --padd-0x15: 0 13px;
    --padd-30x200: 26px;
    --padd-30: 26px;
    --padd-50x150: 43px;
    --padd-0x100: 0;
    --padd-5: 4px;
    --padd-10: 8.5px;
    --padd-25: 21px;
    --padd-0x20: 0 17px;
    --padd-20: 17px;
    --padd-30x0: 26px 0;
    --padd-0x30: 0px 26px;
    --padd-15: 13px;
    --padd-hero: 113px 43px 43px 43px;
    /* Border Radius */
    --br-12: 10px;
    --br-20: 17px;
    --br-50: 21px;
    /* Misc */
    --pixel-5: 4px;
    --pixel-30: 26px;
    --pixel-10: 8.5px;
    --pixel-15: 13px;
    --pixel-100: 85px;
    --pixel-50: 43px;
    --pixel-20: 17px;
    --pixel-25: 21px;
    --pixel-300: 257px;
    --pixel-320: 274px;
    --pixel-250: 214px;
    --pixel-232: 199px;
    --pixel-366: 314px;
    --pixel-48: 41px;
    --pixel-145: 124px;
    --pixel-40: 34px;
    --pixel-70: 60px;
    --pixel-18: 15px;
    --pixel-210: 180px;
    --pixel-36: 31px;
    --pixel-350: 300px;
    --pixel-200: 171px;
    --pixel-450: 385px;
    --pixel-125: 107px;
    --pixel-72: 62px;
    --pixel-95: 81px;
  }
}

@media (max-width: 700px) {
  :root {
    /* Font Size */
    --font-xsmall: 11px;
    --font-small: 13px;
    --font-medium: 18px;
    --font-large: 25px;
    --font-xlarge: 36px;
    /* Paddings */
    --padd-50: 25px 20px;
    --padd-0x50: 0 20px;
    --padd-0x15: 0 11px;
    --padd-30x200: 20px;
    --padd-30: 20px;
    --padd-50x150: 25px 20px;
    --padd-0x100: 0;
    --padd-5: 3.5px;
    --padd-10: 7px;
    --padd-25: 18px;
    --padd-0x20: 0 14px;
    --padd-20: 14px;
    --padd-30x0: 20px;
    --padd-0x30: 0px;
    --padd-15: 11px;
    --padd-hero: 100px 20px 25px 20px;
    /* Border Radius */
    --br-12: 8.5px;
    --br-20: 14px;
    --br-50: 25px;
    /* Misc */
    --pixel-5: 3.5px;
    --pixel-30: 21px;
    --pixel-10: 7px;
    --pixel-15: 11px;
    --pixel-100: 71.5px;
    --pixel-50: 36px;
    --pixel-20: 14px;
    --pixel-25: 18px;
    --pixel-300: 214.5px;
    --pixel-320: 228px;
    --pixel-250: 179px;
    --pixel-232: 166px;
    --pixel-366: 262px;
    --pixel-48: 34px;
    --pixel-145: 104px;
    --pixel-40: 29px;
    --pixel-70: 50px;
    --pixel-18: 13px;
    --pixel-210: 150px;
    --pixel-36: 25.74px;
    --pixel-350: 250px;
    --pixel-200: 143px;
    --pixel-450: 322px;
    --pixel-125: 89px;
    --pixel-72: 51px;
    --pixel-95: 68px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  object-fit: cover;
  object-position: center;
  color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}
