.logoIcon {
  width: var(--pixel-70);
  position: relative;
  height: auto;
}

.navLogo {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabButtonText {
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: 500;
  font-family: var(--font-noto);
  color: var(--color-white);
  text-align: left;
}

.tabButton {
  opacity: 1;
  cursor: pointer;
  border: 0;
  padding: var(--padd-0x15);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--color-white);
}

.tabButton:hover {
  opacity: 0.5;
}

.tabButton.active,
.tabButton.active:hover {
  opacity: 1;
  cursor: default;
  box-shadow: inset 0 -5px 0 0 var(--color-white);
}

.navMenu,
.tabButton {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navMenu {
  gap: 0 var(--pixel-5);
}

@media (max-width: 785px) {
  .navMenu {
    display: none;
  }
}

.nav {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-black-50);
  backdrop-filter: blur(5px);
  box-shadow: 0;
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padd-0x50);
  box-sizing: border-box;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav.visible {
  background-color: var(--color-red);
  backdrop-filter: blur(0);
  box-shadow: 0 57px 16px transparent, 0 37px 15px transparent,
    0 21px 12px rgba(0, 0, 0, 0.02), 0 9px 9px rgba(0, 0, 0, 0.03),
    0 2px 5px rgba(0, 0, 0, 0.03);
}

.herSubtitle {
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.herSubtitle,
.heroDesc,
.heroTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.heroTitle {
  font-size: var(--font-xlarge);
  font-weight: 600;
  font-family: var(--font-jakarta);
}

.heroDesc {
  font-weight: 600;
}

.heroHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padd-30) 0;
  gap: var(--pixel-30) 0;
  z-index: 2;
}

@media (min-width: 701px) {
  .heroHeading {
    padding: var(--padd-30x200);
  }
}

.featureContentDesc,
.featureContentTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.featureContentDesc {
  align-self: stretch;
  font-size: var(--font-small);
  font-weight: 600;
  font-family: var(--font-noto);
  color: var(--color-darkbrown-80);
}

.feature,
.featureContent,
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureContent {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--pixel-10) 0;
}

.feature,
.hero {
  align-self: stretch;
}

.feature {
  z-index: 2;
  border-radius: var(--br-20);
  background-color: var(--color-white);
  box-shadow: 0 57px 16px transparent, 0 37px 15px transparent,
    0 21px 12px rgba(0, 0, 0, 0.02), 0 9px 9px rgba(0, 0, 0, 0.03),
    0 2px 5px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padd-30);
  gap: var(--pixel-30);
  font-size: var(--font-xlarge);
  color: var(--color-red);
  font-family: var(--font-jakarta);
}

@media (max-width: 700px) {
  .feature {
    font-size: var(--font-large);
  }

  .featureContentDesc {
    font-size: var(--font-xsmall);
  }
}

.hero {
  position: relative;
  background-image: url(/img/hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  padding: var(--padd-hero);
  box-sizing: border-box;
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-small);
  color: var(--color-white);
  font-family: var(--font-noto);
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
      180deg,
      rgba(255, 254, 251, 0) 81.57%,
      var(--color-foreground) 81.58%
    ),
    var(--color-black-50);
}

.aboutTitle {
  font-size: var(--font-large);
  font-weight: 600;
  font-family: var(--font-jakarta);
}

.aboutDesc,
.aboutSubtitle,
.aboutTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.aboutSubtitle {
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  color: var(--color-red);
}

.aboutDesc {
  font-weight: 600;
  font-size: var(--font-small);
  color: var(--color-darkbrown-80);
}

.aboutHeading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-15) 0;
  min-width: var(--pixel-300);
}

.contactOption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px 0;
}

.aboutImage {
  border-radius: var(--br-20);
  height: var(--pixel-232);
  overflow: hidden;
  flex-shrink: 0;
}

@media (min-width: 548px) {
  .aboutImage,
  .brandsImage {
    width: var(--pixel-366);
  }
}

@media (max-width: 547px) {
  .aboutImage,
  .brandsImage {
    width: 100%;
  }
}

.about {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padd-50);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-small);
  color: var(--color-red);
  font-family: var(--font-noto);
}

.factoryTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.factoryHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-15) 0;
}

.factory {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padd-50x150);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-large);
  color: var(--color-red);
  font-family: var(--font-jakarta);
}

.facilityDesc {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-small);
  font-weight: 600;
  font-family: var(--font-noto);
}

.facilityHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padd-0x100);
  gap: var(--pixel-15) 0;
}

.facility,
.facilityBody {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facilityBody {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pixel-15);
}

.facility {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-large);
  color: var(--color-white);
  font-family: var(--font-jakarta);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkIcon {
  width: auto;
  position: relative;
  height: var(--pixel-20);
}

.whyPointText {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.whyPoint {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 var(--pixel-10);
}

.why,
.whyDesc,
.whyPoint {
  align-self: stretch;
  display: flex;
}

.why,
.whyDesc {
  justify-content: center;
}

.whyDesc {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pixel-10) 0;
  font-size: var(--font-small);
  color: var(--color-darkbrown-80);
  font-family: var(--font-noto);
}

.why {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  padding: var(--padd-50);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-large);
  color: var(--color-red);
  font-family: var(--font-jakarta);
  background-color: var(--color-red-5);
}

.brandsImage {
  border-radius: var(--br-20);
  height: var(--pixel-366);
  overflow: hidden;
  flex-shrink: 0;
}

.brandsTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-large);
  font-weight: 600;
  font-family: var(--font-jakarta);
  color: var(--color-red);
}

.brandsHeadingContent,
.brandsHeadingFooter {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-15) 0;
}

.brandsHeadingFooter {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-10);
}

.brands,
.brandsHeading {
  display: flex;
  justify-content: center;
}

.brandsHeading {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pixel-30) 0;
  min-width: var(--pixel-300);
}

.brands {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padd-50);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-small);
  color: var(--color-darkbrown-80);
  font-family: var(--font-noto);
}

.coaproductsTab {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-10);
}

.coaproducts,
.coaproductsBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-30) 0;
}

.coaproducts {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  justify-content: center;
  padding: var(--padd-50x150);
  text-align: center;
  font-size: var(--font-small);
  color: var(--color-white);
  font-family: var(--font-noto);
}

.cofproducts,
.cofproductsBody {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.cofproductsBody {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-15);
}

.cofproducts {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-small);
  color: var(--color-darkbrown-80);
  font-family: var(--font-noto);
}

.certifications,
.certificationsBody {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificationsBody {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pixel-70);
}

.certifications {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-large);
  color: var(--color-red);
  font-family: var(--font-jakarta);
}

.galleryTab {
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-10);
  align-self: stretch;
}

@media (max-width: 700px) {
  .galleryTab {
    justify-content: flex-start;
  }
}

.galleryImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.galleryImageWrap {
  cursor: pointer;
  overflow: hidden;
  border-radius: var(--br-20);
  width: var(--pixel-232);
  height: var(--pixel-232);
  flex-shrink: 0;
}

@media (max-width: 700px) {
  .galleryImageWrap {
    width: var(--pixel-200);
    height: var(--pixel-200);
  }
}

.galleryImageWrap:hover .galleryImage {
  transform: scale(1.1);
}

.galleryList {
  flex: 1;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  gap: var(--pixel-15);
}

.articlesHeading,
.galleryBody {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.galleryBody {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pixel-30);
}

.newsBody {
  align-self: stretch;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-30);
}

.articlesHeading {
  flex-direction: column;
  align-items: center;
  padding: var(--padd-0x100);
}

.contactTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.contactDesc,
.iputField {
  font-family: var(--font-noto);
}

.contactDesc {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-small);
  font-weight: 600;
}

.errorMsg {
  font-size: var(--font-xsmall);
  position: relative;
  align-self: stretch;
  margin: 0;
  color: var(--color-yellow);
  font-weight: 600;
}

.iputField {
  border: 0;
  outline: 0;
  font-weight: 700;
  font-size: var(--font-xsmall);
  background-color: transparent;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padd-10);
  color: var(--color-brown);
  transition: all 0.3s ease-in-out;
}

.iputField::placeholder {
  font-weight: 600;
  color: var(--color-brown-50);
}

.input,
.inputWrapper,
.iputField {
  display: flex;
  flex-direction: row;
}

.input {
  flex: 1;
  border-radius: var(--br-12);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  height: var(--pixel-50);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padd-5);
}

.inputWrapper {
  align-self: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--pixel-10);
}

.contactForm,
.input4,
.iputField4 {
  display: flex;
  justify-content: flex-start;
}

.iputField4 {
  border: 0;
  background-color: transparent;
  font-weight: 700;
  font-family: var(--font-noto);
  font-size: var(--font-xsmall);
  outline: 0;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: var(--pixel-125);
  padding: var(--padd-10);
  color: var(--color-brown);
  transition: all 0.3s ease-in-out;
}

.iputField4::placeholder {
  font-weight: 600;
  color: var(--color-brown-50);
}

.contactForm,
.input4 {
  align-items: flex-start;
}

.input4 {
  align-self: stretch;
  border-radius: var(--br-12);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padd-5);
}

.contactForm {
  flex: 1;
  flex-direction: column;
  gap: var(--pixel-10) 0;
  min-width: var(--pixel-300);
}

.contact,
.contactCard {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--padd-50);
}

.contactCard {
  border-radius: var(--br-20);
  background-color: var(--color-red);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-30);
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: var(--font-large);
  color: var(--color-white);
  font-family: var(--font-jakarta);
}

.footerLogoImg {
  width: var(--pixel-145);
  position: relative;
  height: auto;
}

.footerLogo {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerMenuTitle {
  color: var(--color-white);
}

.footerMenuLink,
.footerMenuTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.footerMenuLink {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footerMenuLink:hover {
  text-decoration: underline;
}

.footerMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-15) 0;
}

.footerMenu {
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-50);
}

.footerMenu,
.footerNav,
.footerPptnc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footerNav {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padd-25);
  gap: var(--pixel-50);
}

.footerPptnc {
  align-items: center;
  gap: 0 var(--pixel-30);
}

.footer,
.footerFooter,
.home {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.footerFooter {
  align-self: stretch;
  border-top: 1px solid var(--color-yellow);
  background-color: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--pixel-20);
  padding: var(--padd-25);
  color: var(--color-white);
}

.footer,
.home {
  flex-direction: column;
}

.footer {
  align-self: stretch;
  background-color: var(--color-darkbrown);
  justify-content: center;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: left;
  font-size: var(--font-xsmall);
  color: var(--color-white-80);
  font-family: var(--font-noto);
}

.home {
  width: 100%;
  position: relative;
  background-color: var(--color-foreground);
  justify-content: flex-start;
}
