.logoIcon {
  width: var(--pixel-70);
  position: relative;
  height: auto;
}

.navLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tabButtonText {
  position: relative;
  font-size: var(--font-xsmall);
  font-weight: 500;
  font-family: var(--font-sand);
  color: #fff;
  text-align: left;
}

.tabButton {
  cursor: pointer;
  border: 0;
  padding: var(--padd-0x15);
  background-color: transparent;
}

.navMenu,
.tabButton,
.tabButtonActive {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tabButtonActive {
  cursor: pointer;
  border: 0;
  padding: var(--padd-0x15);
  background-color: transparent;
}

.navMenu {
  gap: 0 var(--pixel-5);
}

.nav {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padd-0x50);
  box-sizing: border-box;
  z-index: 1000;
}

.herSubtitle {
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.herSubtitle,
.heroDesc,
.heroTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.heroTitle {
  font-size: var(--font-xlarge);
  font-weight: 600;
  font-family: var(--font-inter);
}

.heroDesc {
  font-weight: 500;
}

.heroHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padd-30x200);
  gap: var(--pixel-30) 0;
}

.featureContentDesc,
.featureContentTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.featureContentDesc {
  align-self: stretch;
  font-size: var(--font-small);
  font-weight: 500;
  font-family: var(--font-sand);
  color: rgba(83, 50, 54, 0.8);
}

.feature,
.featureContent,
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureContent {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--pixel-10) 0;
  min-width: var(--pixel-250);
}

.feature,
.hero {
  align-self: stretch;
}

.feature {
  border-radius: var(--br-20);
  background-color: #fff;
  box-shadow: 0 57px 16px transparent, 0 37px 15px transparent,
    0 21px 12px rgba(0, 0, 0, 0.02), 0 9px 9px rgba(0, 0, 0, 0.03),
    0 2px 5px rgba(0, 0, 0, 0.03);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padd-30);
  gap: var(--pixel-30);
  font-size: var(--font-xlarge);
  color: #cf2e2e;
  font-family: var(--font-inter);
}

.hero {
  background: linear-gradient(
      180deg,
      rgba(255, 254, 251, 0) 81.57%,
      #fffefb 81.58%
    ),
    rgba(0, 0, 0, 0.5);
  flex-direction: column;
  padding: var(--padd-50);
  box-sizing: border-box;
  gap: var(--pixel-30) 0;
  min-height: 100vh;
  text-align: center;
  font-size: var(--font-small);
  color: #fff;
  font-family: var(--font-sand);
}

.aboutTitle {
  font-size: var(--font-large);
  font-weight: 600;
  font-family: var(--font-inter);
}

.aboutDesc,
.aboutSubtitle,
.aboutTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
}

.aboutSubtitle {
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  color: #533236;
}

.aboutDesc {
  font-weight: 500;
  color: rgba(83, 50, 54, 0.8);
}

.aboutHeading {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-15) 0;
  min-width: var(--pixel-300);
}

.aboutImage {
  width: var(--pixel-366);
  border-radius: var(--br-20);
  height: var(--pixel-232);
  overflow: hidden;
  flex-shrink: 0;
}

.about {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padd-50);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-small);
  color: #cf2e2e;
  font-family: var(--font-sand);
}

.factoryTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}

.factoryHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-15) 0;
}

.factory {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padd-50x150);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-large);
  color: #cf2e2e;
  font-family: var(--font-inter);
}

.facilityDesc {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-small);
  font-weight: 500;
  font-family: var(--font-sand);
}

.facilityHeading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padd-0x100);
  gap: var(--pixel-15) 0;
}

.facility,
.facilityBody {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facilityBody {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pixel-15);
}

.facility {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-large);
  color: #fff;
  font-family: var(--font-inter);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.checkIcon {
  width: auto;
  position: relative;
  height: var(--pixel-20);
}

.whyPointText {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
}

.whyPoint {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 var(--pixel-10);
}

.why,
.whyDesc,
.whyPoint {
  align-self: stretch;
  display: flex;
}

.why,
.whyDesc {
  justify-content: center;
}

.whyDesc {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pixel-10) 0;
  font-size: var(--font-small);
  color: rgba(83, 50, 54, 0.8);
  font-family: var(--font-sand);
}

.why {
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padd-50);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-large);
  color: #cf2e2e;
  font-family: var(--font-inter);
}

.brandsImage {
  width: var(--pixel-366);
  border-radius: var(--br-20);
  height: var(--pixel-366);
  overflow: hidden;
  flex-shrink: 0;
}

.brandsTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-large);
  font-weight: 600;
  font-family: var(--font-inter);
  color: #cf2e2e;
}

.brandsHeadingContent,
.brandsHeadingFooter {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-15) 0;
}

.brandsHeadingFooter {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-10);
}

.brands,
.brandsHeading {
  display: flex;
  justify-content: center;
}

.brandsHeading {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--pixel-30) 0;
  min-width: var(--pixel-300);
}

.brands {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padd-50);
  gap: var(--pixel-30);
  text-align: left;
  font-size: var(--font-small);
  color: rgba(83, 50, 54, 0.8);
  font-family: var(--font-sand);
}

.coaproductsTab {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--pixel-10);
}

.coaproducts,
.coaproductsBody {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--pixel-30) 0;
}

.coaproducts {
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  justify-content: center;
  padding: var(--padd-50x150);
  text-align: center;
  font-size: var(--font-small);
  color: #fff;
  font-family: var(--font-sand);
}

.cofproducts,
.cofproductsBody {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.cofproductsBody {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-15);
}

.cofproducts {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-small);
  color: rgba(83, 50, 54, 0.8);
  font-family: var(--font-sand);
}

.certifications,
.certificationsBody {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificationsBody {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pixel-100);
}

.certifications {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: center;
  font-size: var(--font-large);
  color: #cf2e2e;
  font-family: var(--font-inter);
}

.galleryTab {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--pixel-10);
  min-width: var(--pixel-250);
  max-width: var(--pixel-250);
}

.galleryImage {
  width: var(--pixel-250);
  border-radius: var(--br-20);
  background-color: #878787;
  height: var(--pixel-250);
  overflow: hidden;
  flex-shrink: 0;
}

.galleryList {
  flex: 1;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-15);
  min-width: var(--pixel-300);
}

.articlesHeading,
.galleryBody {
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.galleryBody {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-30);
}

.articlesHeading {
  flex-direction: column;
  align-items: center;
  padding: var(--padd-0x100);
}

.contactTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.contactDesc,
.iputField {
  font-family: var(--font-sand);
}

.contactDesc {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-small);
  font-weight: 700;
}

.iputField {
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: var(--font-xsmall);
  background-color: transparent;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padd-10);
  color: rgba(255, 255, 255, 0.5);
}

.input,
.inputWrapper,
.iputField {
  display: flex;
  flex-direction: row;
}

.input {
  flex: 1;
  border-radius: var(--br-12);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  height: var(--pixel-50);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padd-5);
}

.inputWrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  gap: 0 var(--pixel-10);
}

.contactForm,
.input4,
.iputField4 {
  display: flex;
  justify-content: flex-start;
}
.iputField4 {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-family: var(--font-sand);
  font-size: var(--font-xsmall);
  outline: 0;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: var(--padd-10);
  color: rgba(255, 255, 255, 0.5);
}

.contactForm,
.input4 {
  align-items: flex-start;
}

.input4 {
  align-self: stretch;
  border-radius: var(--br-12);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padd-5);
}

.contactForm {
  flex: 1;
  flex-direction: column;
  gap: var(--pixel-10) 0;
  min-width: var(--pixel-300);
}

.contact,
.contactCard {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: var(--padd-50);
}

.contactCard {
  border-radius: var(--br-20);
  background-color: rgba(255, 255, 255, 0.1);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-30);
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: var(--font-large);
  color: #fff;
  font-family: var(--font-inter);
}

.logoIcon1 {
  width: var(--pixel-145);
  position: relative;
  height: auto;
}

.footerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerMenuTitle {
  color: #fff;
}

.footerMenuLink,
.footerMenuTitle {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.footerMenuWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-15) 0;
}

.footerMenuTitle1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  white-space: pre-wrap;
}

.footerMenu {
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--pixel-50);
}

.footerMenu,
.footerNav,
.footerPptnc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footerNav {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padd-25);
  gap: var(--pixel-50);
}

.footerPptnc {
  align-items: center;
  gap: 0 var(--pixel-30);
}

.footer,
.footerFooter,
.home {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.footerFooter {
  align-self: stretch;
  border-radius: var(--br-20);
  background-color: #841818;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--padd-25);
  color: #fff;
}

.footer,
.home {
  flex-direction: column;
}

.footer {
  align-self: stretch;
  background-color: #cf2e2e;
  justify-content: center;
  padding: var(--padd-50);
  gap: var(--pixel-30) 0;
  text-align: left;
  font-size: var(--font-small);
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-sand);
}

.home {
  width: 100%;
  position: relative;
  background-color: #fffefb;
  justify-content: flex-start;
}
